*~
=*
,,*
*.o
*.a
*.so.*
*.so
.arch
{arch}
autom4te*
.emacs.*
*.gz
*.bz2
*.tgz
*.info
*.html
configure
Makefile
Makefile.in
*.tmp
*.out
*.fasl
.deps/
.gdb_history
.vimview
.DS_Store
scheme/last-revision

