*~
=*
,,*
*.o
*.a
*.so.*
*.so
.arch
{arch}
autom4te*
.emacs.*
*.gz
*.bz2
*.tgz
*.info
*.html
configure
Makefile.in
*.tmp
*.out
*.fasl
.gdb_history
.vimview
.DS_Store
autom4te.cache
scheme/last-revision
benchmarks/sys/*
benchmarks/results.AWK-r6rs
benchmarks/results.Chicken-r6rs
benchmarks/results.GCC-r5rs
benchmarks/results.GCC-r6rs
benchmarks/results.Gambit-C-r6rs
benchmarks/results.Ikarus-r6rs
benchmarks/results.Java-r5rs
benchmarks/results.Java-r6rs
benchmarks/results.Larceny-r6rs
benchmarks/results.MzScheme-r6rs
benchmarks/results.Petite-Chez-Scheme-r5rs
benchmarks/results.Petite-Chez-Scheme-r6rs
benchmarks/results.Scheme48-r6rs
junk

