*.a
*.bz2
*.fasl
*.gz
*.html
*.info
*.o
*.out
*.so
*.so.*
*.tgz
*.tmp
*~
,,*
.DS_Store
.arch
.deps/
.emacs.*
.gdb_history
.vimview
/aclocal.m4
/autom4te*/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc/mdate-sh
/doc/stamp-vti
/doc/texinfo.tex
/doc/version.texi
/install-sh
/lib/vicare/installation-configuration.sls
/lib/vicare/platform-constants.sls
/missing
/mkinstalldirs
/scheme/ikarus.config.ss
/scheme/last-revision
/scheme/vicare.boot
/src/bootfileloc.h
/src/vicare
/stamp-h1
=*
Makefile
Makefile.in
